# 模型权重 (Large Model Weights)
models/
*.pt
*.bin
*.safetensors
*.pth
*.ckpt
*.gz

# 数据集 (Datasets)
ChemCotDataset/
ChemCotDataset-old/
data/
matrix/
refined/
models/
outputs/
new_latent/
# 训练输出结果 (Training Outputs)
code_train_sft/qwen3_mol_sft_lora_results*
code_train_sft/merged_model/
code_train_sft/logs/

# Python 运行时 (Python Runtime)
__pycache__/
*.py[cod]
*.class
.env
.venv
env/
build/
dist/
*.egg-info/

# 实验监控 (Monitoring)
wandb/

# 编辑器与系统文件 (IDE & System)
.cursor/
.vscode/
.idea/
.DS_Store
Thumbs.db

# 其他临时文件
*.log

# 忽略任何目录下以 output 开头的文件夹
**/output*/

# 忽略任何目录下以 debug 开头的文件夹
**/debug*/

# SMI-TED model file
materials/

# Any Results
**/logs/
**/results/
**/records/
**/eval/figs/
code_train_sft/oracle/

code_train_sft/stage5-lr2e-4-cf_margin01-bio_latent_ambda1-bio_latent_alpha01
code_train_sft/stage5-lr2e-4-cf_margin01-bio_latent_ambda1-bio_latent_alpha03
code_train_sft/stage5-lr2e-4-cf_margin01-bio_latent_ambda05-bio_latent_alpha01
code_train_sft/stage5-lr2e-4-cf_margin01-bio_latent_ambda05-bio_latent_alpha03